@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Ubuntu&family=Work+Sans:wght@400;700;800&display=swap');

/* Primay styles */

* {
    max-width: 100vw;
    margin: 0px auto;
    font-family: Work Sans;
    caret-color: transparent;
}

.colored-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}

.primary-btn {
    padding: 1.4rem 2.5rem;
    border: none;
    color: white;
    background: #FF42A5;
    border-radius: 3rem;
    font-size: 1.1rem;

}


nav {
    display: flex;
    /* max-width: auto; */
    height: 8.125rem;
    margin: 0px auto;
    justify-content: space-between;
    margin-right: 0;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left h1,
.banner-description h1,
.mid-description h1 {
    font-family: Work Sans;
    font-size: 2.8em;
    font-style: normal;
    font-weight: 700;
    color: #0B0223;
}



.nav-left span {
    color: #FF42A5;
}

.nav-right {
    display: flex;
    align-items: center;
}


.nav-right .icon {
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 0px;

}



.nav-right ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-right li {
    list-style: none;
    margin: 1rem;
    font-size: 1.125rem;
}

.banner-cotainer {
    width: 100%;
    display: flex;
    align-items: center;
    background: url(/images/banner-background.png);
    background-position-x: -8rem;
    background-repeat: no-repeat;
}


.banner-cotainer img {
    width: 70%;
    margin-right: 10rem;

}

.banner-description {
    width: 50%;
    margin-left: 10rem;


}

.goat {
    font-size: 5.5rem;
    font-style: normal;
    font-weight: 800;
    text-align: center;
}

.banner-description p {
    margin-top: 1rem;
    text-align: left;

}

.banner-description p i {
    margin-right: 0.5rem;
}

.btn-group {
    display: inline-flex;
    gap: 10px;
    margin-top: 2.1rem;
}

.btn-blue {
    background: #4EC5F7;
}


/* Gamers section */

.gamers-section {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamers-img img {
    width: 100%;
    padding-left: 8rem;
}

.gamers-description {
    width: 70%;
    padding-left: 15rem;
    padding-right: 10rem;
    text-align: right;

}

.gamers-description h1,
.gamers-description p,
.gamers-description button {

    margin-top: 2rem;
    text-align: right;
}


.online-game-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: baseline;
    align-content: center;

    width: 80%;


}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
}

.card::after {
    content: "";
    background-image: url('/images/circle-play-solid.svg');
    /* Replace 'play-icon.png' with your own play icon image */
    background-size: cover;
    width: 50px;
    /* Adjust the width and height according to your icon's dimensions */
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.card:hover::after {
    opacity: 1;
}

.Watch-now {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .Watch-now {
    opacity: 1;
}


.card img {
    width: 70%;
    margin-bottom: 2rem;
    margin-top: 3rem;

}

.card p {
    width: 70%;
    text-align: left;
}

.online-games>h1,
p {
    text-align: center;

}

.online-games>h1 {
    margin-top: 2rem;
    font-size: 3rem;

}

.mid-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mid-images {
    width: 50%;
    margin-right: 2rem;
}



.side-img {
    width: 30%;
    position: relative;
    right: 26rem;
    top: 2.5rem;

}

.mid-images .main-img {
    width: 70%;
}

.mid-description {
    text-align: right;
    padding: 10rem;
    margin-right: 10rem;
}

.mid-description p {
    text-align: right;
    margin-top: 2rem;
}

.mid-section2 {
    flex-direction: row-reverse;
}


.catagory {
    display: flex;

    align-items: center;
    width: 12%;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    border-radius: 48px;

}

.catagory:hover {
    border: 2px solid #F948B2;
    color: #F948B2;
}

.catagories {
    display: flex;
    gap: 6rem;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 80%;
}

.catagory img {
    width: 70%;
}

.catagory p {
    text-align: left;
}

footer {
    background-color: #0B0223;
    color: #fff;
}

.footer-logo {
    width: 15%;
    padding-top: 4rem;

}

.footer-logo h1 {
    color: #fff;

}

.footer-description1 {
    display: flex;
    width: 70%;
    margin-top: 4rem;
}

.footer-description2 {
    display: flex;
    width: 70%;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.icons {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;

}

.icons i {
    width: 50%;
}







/* responsive */
/* mobile devices */
@media screen and (max-width : 576px) {

    nav {
        flex-direction: column;

        /* margin-top: 3rem; */
        padding: 3rem;
        ;
        height: auto;
        text-align: center;
        align-items: center;
        align-content: center;
    }

    .nav-right,
    .banner-cotainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }




    .nav-right,
    .menu,
    {
    flex-direction: column;

}


.banner-cotainer img {
    width: 100%;
    margin-right: 0rem;


}

.banner-description {
    margin-left: 0rem;
    padding: 30px;
}

.gamers-section {
    flex-direction: column-reverse;
}

.gamers-description {
    width: 100%;

    padding: 0;
    text-align: center;

}

.gamers-img img {
    width: 100%;
    padding: 0;
    padding-top: 2rem;
}

.primary-btn {
    padding: 0.5rem 3rem;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 2rem;

}


.online-game-cards {
    grid-template-columns: repeat(1, 1fr);
}

.mid-description {
    text-align: center;
    padding: 0px;
    margin-right: 0px;
}

.mid-section {
    flex-direction: column;
}

.mid-description p {
    text-align: center;
    margin-top: 2rem;
}

.mid-images .main-img {
    width: 100%;
    position: relative;
    margin-left: 0px;
    top: 6rem;
    right: 1.5rem;
}

.side-img {
    width: 30%;
    position: relative;
    right: 3rem;
    bottom: 10rem;

}

.catagories {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 4rem;
    margin-bottom: 2rem;
    width: 80%;
}

.catagory {
    display: flex;
    align-items: center;
    width: 30%;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    border-radius: 48px;

}

.catagory img {
    width: 100%;
}

.catagory p {
    text-align: left;
    font-size: 0.8rem;
}

.footer-description1 {

    gap: 2rem;
    flex-wrap: wrap;

}

.footer-description2 {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 70%;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.footer-logo {
    justify-content: center;
    align-items: center;
    width: 15%;
    padding-top: 4rem;

}

}

/* tablet */

@media (min-width: 576px) and (max-width: 992px) {
    body {
        max-width: 992px;
        margin: 0 auto;
    }

    nav {
        width: 100vw;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 5rem;
        padding-right: 5rem;


    }

    .banner-cotainer img {
        width: 80%;
        margin-left: 10rem;
    }

    .banner-description {
        margin-top: 12rem;
    }

    .banner-cotainer {

        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        background-position-y: 46rem;
    }

    .gamers-section {
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        width: 992px;
        height: 100vw;
    }

    .gamers-description {
        width: 992px;

        padding: 0;
        text-align: center;



    }

    .gamers-img img {
        width: 100%;
        padding: 0;
        padding-top: 2rem;
    }

    .online-game-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .mid-description {
        text-align: center;
        padding: 0px;
        margin-right: 0px;
    }

    .mid-section {
        flex-direction: column;
    }

    .mid-description p {
        text-align: center;
        margin-top: 2rem;
    }

    .mid-images .main-img {
        width: 100%;
        position: relative;
        margin-left: 0px;
        top: 6rem;
        right: 1.5rem;
    }

    .side-img {
        width: 30%;
        position: relative;
        right: 3rem;
        bottom: 10rem;

    }

    .catagories {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        margin-top: 4rem;
        margin-bottom: 2rem;
        width: 80%;
    }

    .catagory {
        display: flex;
        align-items: center;
        width: 30%;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
        border-radius: 48px;

    }

    .catagory img {
        width: 100%;
    }

    .catagory p {
        text-align: left;
        font-size: 0.8rem;
    }

}